
.advice {
 margin-bottom : 230px;
}

.advice-caption {
 text-align : center;
 width      : 47%;
 display    : block;
 margin     : 0 auto 65px auto;
}

.advice-caption__plain {
 text-align : center;
 margin-top : -18px;
}

.advice-content {

}

.advice-row {
 display : flex;
 width   : 100%;
}

.advice-elem {
 overflow : hidden;
 padding  : 30px;
 position : relative;
}

.advice-horizontal-lg {
 margin     : 0 10px 10px 0;
 width      : 55%;
 height     : 474px;
 background : black;

 & .advice-img {
  width  : 420px;
  margin : 0 0 -340px -240px;
 }

 & .advice-info {
  top  : 160px;
  left : 260px;

  & .advice-info-plain {
   margin : 0;
  }
 }

 & .img {
  width          : 100%;
  vertical-align : middle;
  border-style   : none;
 }
}

.advice-vertical-sm {
 margin     : 0 10px 10px 0;
 width      : 22.5%;
 background : white;

 & .advice-img {
  height     : 220px;
  margin     : 0 0 20px 0;
  text-align : center;
 }

 & .img {
  width  : auto;
  height : 100%;
 }

 & .advice-info-brand, & .advice-info-name {
  color : black;
 }

 & .advice-info {
  position   : static;
  text-align : center;

  & .advice-info-plain {
   text-align : center;
   width      : 100%;
  }
 }

}

.advice-row-elem-2x {
 width        : 55%;
 margin-right : 10px;
}

.advice-vertical-lg {
 margin     : 0 10px 0 0;
 width      : 45%;
 height     : 744px;
 background : white;
 display    : block;

 & .advice-img {
  width         : 450px;
  margin        : 0 auto -400px auto;
  margin-bottom : -395px;
 }

 & .advice-info {
  text-align : center;
  margin     : 0 0 30px 0;
  position   : static;
  color      : $col-black__txt;

  & .advice-info-plain {
   margin : 0 auto;
  }

  & .advice-info-brand {
   color : $col-black__txt;
  }
 }

 & .img {
  width          : 100%;
  vertical-align : middle;
  border-style   : none;
 }

}

.advice-horizontal-sm-black {
 display    : block;
 margin     : 0 10px 10px 0;
 width      : 100%;
 background : black;
 height     : 418px;

 & .advice-img {
  height     : 400px;
  margin     : 0 0 -110px -200px;
  text-align : center;
  width      : 420px;
 }

 & .img {
  width  : auto;
  height : 100%;
 }

 & .advice-info-brand, & .advice-info-name {
  color : white;
 }

 & .advice-info {
  text-align : left;
  left       : 260px;
  top        : 160px;
  position   : absolute;

  & .advice-info-plain {
   text-align  : left;
   width       : 60%;
   color       : $col-gray__txt;
   margin      : 0;
  }
 }
}

.advice-horizontal-sm-white {
 display    : block;
 margin     : 0 10px 10px 0;
 width      : 100%;
 background : white;
 height     : 316px;

 & .advice-img {
  height     : 400px;
  margin     : 0 0 -88px 400px;
  text-align : center;
  width      : 420px;
 }

 & .img {
  width  : auto;
  height : 100%;
 }

 & .advice-info-brand, & .advice-info-name {
  color : $col-black__txt;
 }

 & .advice-info {
  text-align : left;
  left       : 64px;
  top        : 96px;
  position   : absolute;

  & .advice-info-plain {
   text-align : left;
   width      : 60%;
   margin     : 0;
  }
 }
}

.advice-info {
 position   : absolute;
 top        : 0;
 color      : #ffffff;
 text-align : left;
}

.advice-info-brand {
 text-transform : uppercase;
 line-height    : 1;
 color          : #ffffff;
 font-size      : 20px;
 font-weight    : 300;
}

.advice-info-name {
 font-size   : 30px;
 line-height : 1.2;
 margin      : 0 0 15px 0;
}

.advice-info-plain {
 font-size : 14px;
 color     : $col-gray__txt;
 width     : 60%;
}
