.advice {
 margin-bottom : 230px;
}

.advice-caption {
 text-align : center;
 width      : 47%;
 display    : block;
 margin     : 0 auto 65px auto;
}

.advice-caption__plain {
 text-align : center;
 margin-top : -18px;
}