.brands {
  height: 100px;
  /* .container {
   height      : 100%;
   display     : flex;
   align-items : center;
   background  : white;
  }*/ }
  @media (max-width: 768px) {
    .brands {
      margin-bottom: 210px; } }

.brands-item {
  width: 16.66%; }
  .brands-item:last-child .vl-container {
    border-right: none; }
  @media (max-width: 768px) {
    .brands-item {
      width: 50%;
      background: white; } }

.vl-container {
  border-right: 2px solid #ededed;
  padding: 0 20px;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .vl-container img {
    max-width: 90%; }
