.button {
    padding: 6px 34px;
    font-family: "Myriad Pro Regular";
    text-align: center;
    vertical-align: middle;
    border-radius: 9999px;
    border: none;
}

.button__open-more {
    font-size: 50px;
    font-family: "Myriad Pro Light SemiExtended";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
}
