.clients .card-text {
  text-align: center;
  line-height: 1rem;
}
.clients .card-body {
  padding: 0;
}
.clients .card-img-top {
  max-height: 100px;
  width: auto;
  filter: grayscale(1);
}
.clients .card {
  align-items: center;
}

.spec-offers .card {
  background: red;
}
