.card-text {
  text-align: center;
  line-height: 1rem;
}

.card-body {
  padding: 0;
}

.card-img-top {
  max-height: 100px;
  width: auto;
  filter: grayscale(1);
}

.card {
  align-items: center;
}
