$gray-light   : #f3f1f1; // background
$gray-dark    : #777777; // text
$green-main   : #34a853; // logo, menu-main background
$green-active : #5db975;
$orange-main  : #faad3d; // buttons, borders, background, link-text
$black-lite   : #1d1d1d; // text
$black-middle : #282828; // h2 h3 p
$black-dark   : #191919; // background p
