$grid-columns         : 20;

$grid-breakpoints     : (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1236px,
  xxl: 1500px,
  xxxl: 1640px,
  xxxxl: 1960px
);

$container-max-widths : (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px,
  xxxxl: 1920px
);

// Carousel

.carousel-indicators {

 li {
  border-radius : 100% !important;
  border        : 1px solid white !important;
  background    : none !important;
  height        : 10px !important;
  width         : 10px !important;
 }

 .active {
  background : white !important;
 }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
 background-image : none !important;
 font-size        : 30px !important;
 font-family      : "Myriad Pro" !important;
 font-weight      : 300 !important;

}

.carousel-control-prev, .carousel-control-next {
 bottom      : 38px !important;
 align-items : flex-end !important;

 span {
  transform : scaleY(1.8) !important;
 }
}

// Cards

//$card-spacer-y:                     .75rem;
//$card-spacer-x:                     1.25rem;
//$card-border-width:                 $border-width;
//$card-border-radius:                $border-radius;
//$card-border-color:                 rgba($black, .125);
//$card-inner-border-radius:          subtract($card-border-radius, $card-border-width);
//$card-cap-bg:                       rgba($black, .03);
//$card-cap-color:                    null;
//$card-height:                       null;
//$card-color:                        null;
//$card-bg:                           $white;
//
//$card-img-overlay-padding:          1.25rem;
//
//$card-group-margin:                 $grid-gutter-width / 2;
//$card-deck-margin:                  $card-group-margin;
//
//$card-columns-count:                3;
//$card-columns-gap:                  1.25rem;
//$card-columns-margin:               $card-spacer-y;

