.call-n-back-content {
  box-sizing: border-box;
  width: 750px !important;
  font-size: 0.8rem !important;
  line-height: 0.8rem;
  color: black;
  border: none;
}
.call-n-back-content .title {
  margin-bottom: 1.5rem;
}
.call-n-back-content .title h5 {
  margin: 0 !important;
}
.call-n-back-content .title span {
  color: #777777;
  line-height: 0.5 !important;
}
.call-n-back-content .dropdown-header span {
  font-family: "Myriad Pro";
  font-weight: 300;
  font-size: 1.4rem;
  color: black;
}
.call-n-back-content .call-content .title h5 {
  color: #34a853;
}
.call-n-back-content .call-content ul, .call-n-back-content .call-content li {
  padding: 0.3rem 0 0.3rem 0 !important;
  margin-left: 0 !important;
}
.call-n-back-content .call-content ul a, .call-n-back-content .call-content li a {
  color: black;
  font-size: 0.9rem;
}
.call-n-back-content .call-content .img-thumbnail {
  width: 30px;
  height: auto;
  border: none !important;
  margin-right: 0.3rem;
}
.call-n-back-content .callback-content .form-group {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.call-n-back-content .callback-content .form-group:first-child {
  margin-bottom: 0;
}
.call-n-back-content .callback-content label {
  padding: 0.3rem 0 0.3rem 0 !important;
}
.call-n-back-content .callback-content input {
  outline: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-weight: 600;
  border-bottom: 1px solid #777777;
}
.call-n-back-content .callback-content input:active, .call-n-back-content .callback-content input:hover, .call-n-back-content .callback-content input:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  border-bottom-color: #faad3d;
}
