/***************************/
/********* call-form *******/
/***************************/
.call-form-content {
  box-sizing: border-box;
  width: 750px !important;
  font-size: 0.8rem !important;
  line-height: 0.8rem;
  color: black;
  border: none;
}
.call-form-content .call-form-body__title {
  margin-bottom: 1.5rem;
}
.call-form-content .call-form-body__title h5 {
  margin: 0 !important;
}
.call-form-content .call-form-body__title span {
  color: #777777;
  line-height: 0.5 !important;
}
.call-form-content .call-form-header {
  display: flex;
  justify-content: flex-end;
}
.call-form-content .call-form-header span {
  font-family: "Myriad Pro";
  font-weight: 300;
  font-size: 1.4rem;
  color: black;
}
.call-form-content .call-form-select-method .call-form-body__title h5 {
  color: #34a853;
}
.call-form-content .call-form-select-method ul, .call-form-content .call-form-select-method li {
  padding: 0.3rem 0 0.3rem 0 !important;
  margin-left: 0 !important;
}
.call-form-content .call-form-select-method ul a, .call-form-content .call-form-select-method li a {
  color: black;
  font-size: 0.9rem;
}
.call-form-content .call-form-select-method .img-thumbnail {
  width: 30px;
  height: auto;
  border: none !important;
  margin-right: 0.3rem;
}
.call-form-content .call-form-callback .call-form-select-method__list-group {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.call-form-content .call-form-callback .call-form-select-method__list-group:first-child {
  margin-bottom: 0;
}
.call-form-content .call-form-callback label {
  padding: 0.3rem 0 0.3rem 0 !important;
}
.call-form-content .call-form-callback input {
  outline: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-weight: 600;
  border-bottom: 1px solid #777777;
}
.call-form-content .call-form-callback input:active, .call-form-content .call-form-callback input:hover, .call-form-content .call-form-callback input:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  border-bottom-color: #faad3d;
}
