.main {
 margin : 234px 0 20px 0;
}

.main-content {
 display : flex;
}

/*****************************************************/
/******************** target-offers ********************/
/*****************************************************/
.target-offers {
 width      : 20%;
 min-width  : 255px;
 background : white;
 overflow   : hidden;
}

.target-offers__title {
 height       : 47px;
 color        : #faad3d;
 font-size    : 24px;
 line-height  : 24px;
 font-weight  : normal;
 margin       : 0;
 margin-top   : 24px;
 padding-left : 30px;
}

.target-offers__ul {
 list-style : none;
 padding    : 0;
 margin     : 0;
}

.target-offers__li {
 height       : 45px;
 line-height  : 45px;
 border-top   : 1px solid #ededed;
 box-sizing   : border-box;
 padding-left : 30px;
 cursor       : pointer;
}

.target-offers__li:after {
 content       : '>';
 display       : inline-block;
 float         : right;
 padding-right : 20px;
}

.target-offers__link {
 text-decoration : none;
 color           : #333333;
 font-size       : 14px;
}

/********************************************************/
/******************* portfolio ************************/
/********************************************************/
.portfolio {
 width  : 59%;
 margin : 0 20px;

}

.portfolio-content {
 position      : relative;
 box-sizing    : border-box;
 height        : 476px;
 padding       : 0 65px;
 display       : flex;
 align-content : center;
 overflow      : hidden;
}

.portfolio-img {
 width    : 45%;
 position : absolute;
 right    : 0;
 bottom   : 0;
}

.portfolio-img__img {
 width  : auto;
 height : 100%;
}

.portfolio-text {
 padding : 60px 60px 0 0;
 width   : 62%;
}

.portfolio__caption {
 margin-bottom : 70px;
 color         : #777777;
}

.portfolio__object {
 margin-bottom : 15px;
 /*font-size     : 40px;
 line-height   : 40px;*/
}

.portfolio__equipment {
 margin-bottom : 45px;
 font-size     : 18px;
 line-height   : 18px;
}

/********************************************/
/****************** sell *******************/
/********************************************/
.sell {
 width : 20%;
}

.sell-content {
 position : absolute;
 bottom   : 50px;
}

.sell-content-wrapper {
 position   : relative;
 box-sizing : border-box;
 border     : 1px solid #faad3d;
 padding    : 30px;
 height     : 100%;
}

.sell__img {
 margin-bottom : 15px;
}

.sell__slogan {
 font-size   : 18px;
 line-height : 24px;
}

.sell__caption {

 font-weight : normal;
}

.sell__link {
 font-size       : 18px;
 line-height     : 24px;
 text-decoration : none;
 color           : #faad3d;
}
