.mobi {
  display: none; }

@media (max-width: 1567.98px) {
  .wrapper, .wrapper1400, .wrapper-service, .wrapper-main-section {
    width: 95%; } }

@media (max-width: 1349.98px) {
  .menu-top__mail_text {
    display: none; }
  .menu-top__ul:nth-child(2) {
    width: 50%;
    padding: 0 1%; }
  .menu-top__ul:first-child {
    width: 32%; }
  .menu-top__ul:last-child {
    width: 20%; }
  .title {
    font-size: 30px;
    line-height: 36px; }
  .target-offers__link {
    font-size: 12px; } }

@media (max-width: 1199.98px) {
  .category:first-child, .category:nth-child(2), .category:last-child {
    display: none; }
  .categories::after {
    content: '>';
    display: flex;
    align-items: center; }
  .categories::before {
    content: '<';
    display: flex;
    align-items: center; }
  .portfolio-content {
    padding: 0 20px; }
  .body {
    font-size: 12px;
    line-height: 14px; }
  .brands__img {
    height: 28px; }
  .spec-offer__img {
    max-height: 160px; }
  .spec-offer__link {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px; } }

@media (max-width: 866px) {
  /****************************/
  /********* .main **********/
  /****************************/
  .main-content {
    flex-wrap: wrap; }
  .sell {
    background: white;
    width: 100%;
    height: 250px;
    margin-top: 20px; }
  .sell-content {
    position: absolute;
    bottom: 20px; }
  .portfolio {
    width: 63.9%;
    margin-right: 0; }
  .target-offers {
    width: 33%; }
  /****************************/
  /*** .spec-offers-service ***/
  /****************************/
  .spec-offers-service-content {
    flex-wrap: wrap; }
  .spec-offers {
    width: 100%; }
  .service {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    background-size: cover;
    margin-left: 0; }
  .service-info {
    padding: 355px 50px 0;
    margin-bottom: 20px; }
  .service__title, .service__text {
    background: none; }
  .service__title {
    font-size: 30px; }
  .service__text {
    font-size: 16px; }
  /****************************/
  /********* .news **********/
  /****************************/
  .news-cols {
    flex-wrap: wrap; }
  .news-left-col {
    width: 100%; }
  .news-right-col {
    width: 100%;
    margin-left: 0; }
  /****************************/
  /*** .clients ***/
  /****************************/
  .client {
    width: 25%; } }
