.sticky-top {
  height: 10px;
}

.menu-main {
  background: #34a853;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
}
.menu-main .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-main .nav:nth-child(2) {
  border-left: 3px solid white;
  border-right: 3px solid white;
}
.menu-main .nav .nav-link {
  padding: 0;
  color: white;
}
@media (max-width: 1100px) {
  .menu-main .nav .nav-link {
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .menu-main .nav {
    display: none;
  }
}
.menu-main .mail, .menu-main .phone {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.menu-main .mail .dropdown-menu {
  background: transparent;
  border: none;
  box-shadow: none;
}
.menu-main .mail .dropdown-menu button {
  background: black;
  border: none;
  border-radius: 24px;
  height: 48px;
  padding-left: 26px;
  padding-right: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 10px 20px #777777;
  align-self: center;
}
.menu-main .mail_active {
  background: #5db975;
}
.menu-main .container-xxxxl, .menu-main .row, .menu-main .nav, .menu-main .nav-link {
  height: 100%;
}
.menu-main #copyMailButton:active, .menu-main #copyMailButton:hover,
.menu-main .phone-link:active, .menu-main .phone-link:hover {
  background: #5db975;
}
.menu-main .nav-link {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .menu-main {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 74px;
    height: 74px;
    border-radius: 100%;
    background: #faad3d;
  }
  .menu-main:after {
    content: url("../img/icon_menu.svg");
    height: 36px;
    width: 36px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.menu-main-list {
  display: none;
}

.show-me {
  display: block;
  position: fixed;
  border: none;
  top: 50px;
  left: 88px;
  background: white;
  z-index: 20000;
}
.show-me .nav-link {
  color: #1d1d1d;
  text-decoration: none;
}

/*******************************/
/******** menu-search *******/
/*******************************/
.menu-search {
  background: #e7e6e6;
  height: 64px !important;
}
.menu-search .menu-search-logo, .menu-search .menu-search-partners-ad, .menu-search .menu-search-backet {
  width: 16%;
}
.menu-search .menu-search-form {
  width: 52%;
}
.menu-search .menu-search-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu-search .menu-search-submit {
  background: #faad3d url("../img/icon_search.png") no-repeat center;
  width: 48px !important;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.menu-search .menu-search__input {
  justify-self: stretch;
}
.menu-search .menu-search__dropdown {
  width: 68px !important;
  display: flex !important;
  justify-content: center !important;
}
.menu-search .menu-search__btn {
  background: #f1f1f1;
  color: #777777;
  font-size: 1.1rem;
  align-items: center;
  display: flex;
}
.menu-search .dropdown-toggle::after {
  border-top: 0.5rem solid;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  color: black;
}

/*******************************/
/******** menu-ranks *******/
/*******************************/
.menu-ranks {
  background: white;
  position: relative;
}
.menu-ranks a {
  text-decoration: none;
  color: #1d1d1d;
  font-size: 1rem;
  align-items: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.menu-ranks img {
  width: 60px;
  height: auto;
}
.menu-ranks .card {
  text-align: center;
}
.menu-ranks .card .card-body {
  padding: 0;
  padding-top: 0.1rem;
}
.menu-ranks .card .card-text {
  padding: 0;
}
