.body {
  background: #f1f1f1;
}

.link, .link:hover, .link:active, .link:visited {
  color: black;
  text-decoration: none;
}

.button, .button:active, .button:visited {
  border: none;
  outline: none !important;
}

.btn-main {
  padding: 0.7rem 1.4rem;
  border-radius: 2.8rem;
  line-height: 1rem;
  font-weight: 300;
}

.btn-main__orange {
  background: #faad3d;
  color: white;
}
