.news {
  margin-bottom: 150px;
}

.news__img {
  width: 100%;
}

.news-right-col__link {
  width: 25%;
}

.news-right-col__info {
  width: 75%;
  margin-left: 20px;
}

.news__title {
  line-height: 48px;
  font-size: 40px;
  margin-bottom: 50px;
  font-weight: normal;
}

.news-cols {
  display: flex;
}

.news-left-col {
  width: 40%;
}

.news-info__title {
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
}

.news-right-col {
  width: 60%;
  margin-left: 105px;
  /*background  : white;*/
}

.news-date {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.news-date__brand {
  float: left;
  color: #34a853;
}

.news-date__date {
  float: right;
  color: #777777;
}

.news-right-col-row {
  display: flex;
  margin-bottom: 40px;
}
