.seo {
 margin-bottom : 50px;
}

.seo-logo {
 margin-bottom : 20px;
}

.h1, .h2 {
 font-size   : 40px;
 line-height : 48px
}

.h2 {
 font-weight : 300;
}

.h1 {
 font-weight : normal;
}

.seo__plain {
 font-size      : 18px;
 padding-top    : 0;
 padding-bottom : 0;
 margin-top     : 0;
 margin-bottom  : 0;
 line-height    : 24px;
}

.seo-content {
 display : flex;
}

.seo__col-left {
 width         : 75%;
 padding-right : 250px;
}

.seo__col-right {
 width : 25%;
}

.logo-link {
 text-decoration : none;
 color           : $col-black__txt;
}

.logo__img {
 margin-bottom : 20px;
}

.seo-logo__title {
 font-size   : 40px;
 line-height : 48px;
 font-weight : normal;
}

.seo-logo__plain {
 font-size   : 16px;
 line-height : 18px;
 color       : $col-gray__txt;
}

.seo-company__title {
 font-size   : 24px;
 line-height : 36px;
 font-weight : normal;
}

.seo-company__plain {
 font-size   : 18px;
 line-height : 24px;
}

.seo-info {

}

.seo-info__plain {
 font-size   : 18px;
 line-height : 24px;
 color       : $col-black__txt;
}

.seo-company-info {
 margin-bottom : 20px;
}


