.service {
    background: #e19a32 url("../img/service-bg.png");
    width: 750px;
    min-height: 556px;
}

.service__info {
    padding: 264px 0 0 35px;
    color: #fff;
}

.service__title {
    font: 50px "Myriad Pro Regular";
    line-height: 42px;
}

.service__plain {
    font: 30px "Myriad Pro Light SemiExtended";
    line-height: 33px;
    margin: 22px 0 34px 0;
}

.service__link {
    font: 30px "Myriad Pro Regular";
    line-height: 33px;
}

