
.spec-offers-container {
    width: 750px;
    padding: 30px;
    box-sizing: border-box;
}

.spec-offers__link {
    font: 40px "Myriad Pro Light SemiExtended";
    line-height: 48px;
    display: flex;
    align-items: center;
    height: 90px;
    background: #ffffff;
    border-bottom: 2px #f3f2f2 solid;
    padding-left: 30px;
}

.spec-offers {
    height: 340px;
    background: #ffffff;
    border-bottom: 2px #f3f2f2 solid;
}

.spec-offers__img-container {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 100%;
}

.spec-offers__img {

}

.spec-offers__info {
    box-sizing: border-box;
    width: 50%;
    color: #000000;
    padding: 42px 0 42px 26px;
    float: left;
}

.spec-offers__nation-standard {
    width: 48px;
    height: 30px;
}

.spec-offers__info_equipment-name {
    font: 30px "Myriad Pro Light SemiExtended";
    line-height: 36px;
    margin: 32px 0 25px 0;
}

.spec-offers__info_price {
    line-height: 30px;
    margin-bottom: 26px;
}

.spec-offers__info_price_number {
    font: 30px "Myriad Pro Regular";
}

.spec-offers__info_price_valuta {
    font: 30px "Myriad Pro Light SemiExtended";

}

.spec-offers__brand {
    height: auto;
    width: auto;
    max-height: 36px;
    max-width: 126px;
}

