.spec-offers-service {
  margin-bottom: 170px;
}

.spec-offers-service-content {
  display: flex;
  justify-content: space-between;
}

.spec-offers {
  background: white;
  width: 70%;
  height: 430px;
  overflow: hidden;
}

.spec-offers__title {
  padding: 20px 30px;
  border-bottom: solid 2px #e8e8e8;
  font-size: 24px;
  color: #191919;
  line-height: 24px;
  display: block;
}

.spec-offers-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.spec-offer__link {
  width: 33.3%;
  text-decoration: none;
  height: 366px;
  padding: 30px;
  border-right: 2px solid #e8e8e8;
  color: black;
}

.spec-offer__link:last-child {
  border-right: none;
}

.spec-offer__img {
  max-height: 210px;
}

.spec-offer__standard-img {
  width: 30px;
  height: auto;
}

.spec-offer__title {
  box-sizing: border-box;
}

.spec-offer__price {
  font-weight: 600;
}

.spec-offer__brand-img {
  width: 100px;
  height: auto;
}

/******************************************/
/**************  service  ****************/
/******************************************/
.service {
  background: white;
  width: 30%;
  background: url("../img/service-bg.png") no-repeat;
  margin-left: 20px;
}

.service-info {
  padding: 255px 50px 0;
  margin-bottom: 20px;
}

.service__title {
  font-weight: normal;
}

.service__text {
  margin: 10px 0 10px 0;
}
