.spec-offers-service {
 margin-bottom : 170px;
}

.spec-offers-service-content {
 display : flex;
}

.spec-offers {
 background : white;
 width      : 70%;
 height     : 430px;
 overflow   : hidden;
}

.spec-offer {
 display : inline-block;
}

.service {
 background      : white;
 width           : 30%;
 background      : url("../img/service-bg.png") no-repeat;
 background-size : 100%;
 margin-left     : 20px;
}