.body {
 margin      : 0;
 background  : #f3f1f1;
 font        : 16px "Myriad Pro";
 font-weight : 300;
 line-height : 19px;
}

.h2 {
 line-height : 48px;
 font-size   : 40px;
 font-weight : normal;
}

.caption {
 display       : block;
 margin        : 0 auto;
 font-weight   : normal;
 font-size     : 40px;
 line-height   : 40px;
 text-align    : center;
 margin-bottom : 70px;
}

.caption__left {
 text-align : left;
}

.button {

}

.col_45ps {
 width : 56%;
}

.theme__orange {
 background : #faad3d;
 color      : white;
}

.theme__black {
 background : black;
 color      : white;
}

.theme__white {
 background : white;
 color      : black;
}

.wrapper {
 max-width : 1552px;
 width     : 100%;
 margin    : 0 auto;
 padding   : 0;
}

.wrapper1400 {
 max-width : 1400px;
 width     : 100%;
 margin    : 0 auto;
 padding   : 0;
}
