@import "colors";
/***************************/
/********* call-form *******/
/***************************/
.call-form-content {
  box-sizing  : border-box;
  width       : 750px !important;
  font-size   : 0.8rem !important;
  line-height : 0.8rem;
  color       : black;
  border      : none;

  .close-call-form-btn {
    //background : green !important;

  }

  .call-form-body__title {
    margin-bottom : 1.5rem;

    h5 {
      margin : 0 !important;

    }

    span {
      color       : $gray-dark;
      line-height : 0.5 !important;
    }
  }

  .call-form-header {

    display         : flex;
    justify-content : flex-end;

    & span {
      font-family : "Myriad Pro";
      font-weight : 300;
      font-size   : 1.4rem;
      color       : black;
    }
  }

  .call-form-select-method {
    .call-form-body__title {
      h5 {
        color : $green-main;
      }
    }

    ul, li {
      padding     : 0.3rem 0 0.3rem 0 !important;
      margin-left : 0 !important;

      a {
        color     : black;
        font-size : 0.9rem;
      }
    }

    .img-thumbnail {
      width        : 30px;
      height       : auto;
      border       : none !important;
      margin-right : 0.3rem;
    }
  }

  .call-form-callback {

    .call-form-select-method__list-group {
      margin-top    : 0.5rem;
      margin-bottom : 0.5rem;

      &:first-child {
        margin-bottom : 0;
      }
    }

    label {
      padding : 0.3rem 0 0.3rem 0 !important;
    }

    input {
      outline       : none;
      border        : none;
      border-radius : 0;
      box-shadow    : none;
      font-weight   : 600;
      border-bottom : 1px solid $gray-dark;

      &:active, &:hover, &:focus {
        outline             : 0 !important;
        outline-offset      : 0 !important;
        border-bottom-color : $orange-main;

      }
    }

  }

}

/********************************/
/********* ranks-dropdown *******/
/********************************/
.ranks-dropdown {
  width  : 400px;
  height : 600px;

  .subranks-dropdown {
    width   : 700px;
    height  : 600px;
    display : flex;

    .subranks-dropdown-list {
      width : 300px;
    }

  }
}

