@import "colors";

.sticky-top {
  height : 10px;
}

.menu-main {
  background  : $green-main;
  color       : white;
  height      : 50px;
  display     : flex;
  align-items : center;

  .nav {
    display         : flex;
    justify-content : space-around;
    align-items     : center;

    &:nth-child(2) {
      border-left  : 3px solid white;
      border-right : 3px solid white;
    }

    .nav-link {
      padding : 0;
      color   : white;
      @media (max-width : 1100px) {
        font-size : 0.7rem;
      }
    }

    @media (max-width : 768px) {
      display : none;
    }
  }

  .mail, .phone {
    padding-left  : 5px !important;
    padding-right : 5px !important;
  }

  .mail {

    .dropdown-menu {
      background : transparent;
      border     : none;
      box-shadow : none;

      button {
        background      : black;
        border          : none;
        border-radius   : 24px;
        height          : 48px;
        padding-left    : 26px;
        padding-right   : 26px;
        display         : flex;
        justify-content : center;
        align-items     : center;
        color           : white;
        box-shadow      : 0 10px 20px $gray-dark;
        align-self      : center;
      }
    }

  }

  .mail_active {
    background : $green-active;
  }

  .container-xxxxl, .row, .nav, .nav-link {
    height : 100%;
  }

  #copyMailButton:active, #copyMailButton:hover,
  .phone-link:active, .phone-link:hover {
    background : $green-active;
  }

  .nav-link {
    display     : flex;
    align-items : center;
  }

  @media (max-width : 768px) {
    cursor        : pointer;
    display       : block;
    position      : absolute;
    top           : 10px;
    left          : 10px;
    width         : 74px;
    height        : 74px;
    border-radius : 100%;
    background    : $orange-main;
    &:after {
      content  : url("../img/icon_menu.svg");
      height   : 36px;
      width    : 36px;
      position : absolute;
      top      : 20px;
      left     : 20px;
    }
  }

}

.menu-main-list {
  display : none;
}

.show-me {
  display    : block;
  position   : fixed;
  border     : none;
  top        : 50px;
  left       : 88px;
  background : white;
  z-index    : 20000;

  .nav-link {
    color           : $black-lite;
    text-decoration : none;

  }

}

.menu-search {
  background : $gray-light;
}

.menu-ranks {
  background : white;
  position: relative;

  a {
    text-decoration : none;
    color           : $black-lite;
    font-size       : 1rem;
  }

  .card {
    //width      : 9%;
    width      : auto;
    text-align : center;

    .card-body {
      padding     : 0;
      padding-top : 0.1rem;
    }

    .card-text {
      padding : 0;
    }

  }

}


