@import "colors";

.sticky-top {
  height : 10px;
}

.menu-main {
  background  : $green-main;
  color       : white;
  height      : 50px;
  display     : flex;
  align-items : center;

  .menu-main__section-separator_right {
    padding-right : 1rem;
    margin-right  : -1rem;
    border-right  : 1px solid $green-active;
  }

  .nav {
    display         : flex;
    justify-content : space-around;
    align-items     : center;

    &:nth-child(2) {
      /*border-left  : 3px solid white;
      border-right : 3px solid white;*/
    }

    .nav-link {
      padding : 0;
      color   : white;
      @media (max-width : 1100px) {
        font-size : 0.7rem;
      }
    }

    @media (max-width : 768px) {
      display : none;
    }
  }

  .mail, .phone {
    padding-left  : 5px !important;
    padding-right : 5px !important;
  }

  .mail {

    .dropdown-menu {
      background : transparent;
      border     : none;
      box-shadow : none;

      button {
        background      : black;
        border          : none;
        border-radius   : 24px;
        height          : 48px;
        padding-left    : 26px;
        padding-right   : 26px;
        display         : flex;
        justify-content : center;
        align-items     : center;
        color           : white;
        box-shadow      : 0 10px 20px $gray-dark;
        align-self      : center;
      }
    }

  }

  .mail_active {
    background : $green-active;
  }

  .container-xxxxl, .row, .nav, .nav-link {
    height : 100%;
  }

  #copyMailButton:active, #copyMailButton:hover,
  .phone-link:active, .phone-link:hover {
    background : $green-active;
  }

  .nav-link {
    display     : flex;
    align-items : center;
  }

  @media (max-width : 768px) {
    cursor        : pointer;
    display       : block;
    position      : absolute;
    top           : 10px;
    left          : 10px;
    width         : 74px;
    height        : 74px;
    border-radius : 100%;
    background    : $orange-main;
    &:after {
      content  : url("../img/icon_menu.svg");
      height   : 36px;
      width    : 36px;
      position : absolute;
      top      : 20px;
      left     : 20px;
    }
  }

}

.menu-main-list {
  display : none;
}

.show-me {
  display    : block;
  position   : fixed;
  border     : none;
  top        : 50px;
  left       : 88px;
  background : white;
  z-index    : 20000;

  .nav-link {
    color           : $black-lite;
    text-decoration : none;

  }

}

/*******************************/
/******** menu-search *******/
/*******************************/

.menu-search {
  background : $gray-middle;
  height     : 65px;
  font-size  : 14px;

  .menu-search__logo {
    height        : 100%;
    display       : flex;
    align-items   : center;
    //padding-right : 0.5rem;
  }

  .menu-search__img {
    width  : 222px;
    height : 40px;
  }

  .menu-search-form {
    display     : flex;
    align-items : center;
    flex-grow   : 1;
    padding: 0 0.5rem;

    .menu-search-form__filter-ranks-btn {
      height                    : 35px;
      width                     : 64px;
      border-bottom-left-radius : 0.4rem;
      border-top-left-radius    : 0.4rem;
      display                   : flex;
      align-items               : center;
      justify-content           : center;
      background                : $gray-light;
    }

    .menu-search-form__filter-ranks-btn-title {
      position      : relative;
      padding-right : 1rem;
      font-size     : 1.1rem;
      color         : $gray-dark;
    }

    .menu-search-form__filter-ranks-btn-title::after {
      content    : "";
      border     : 0.5rem solid transparent;
      border-top : 0.5rem solid black;
      position   : absolute;
      top        : 0.6rem;
      right      : -0.2rem;
    }

    .menu-search-form__input {
      height    : 35px;
      border    : none;
      outline   : none !important;
      flex-grow : 1;
      padding   : 0 0.3rem;
    }

    .menu-search-form__submit-btn {
      background                 : url("../img/icon_search.png") no-repeat center orange;
      width                      : 49px;
      height                     : 35px;
      border-bottom-right-radius : 0.4rem;
      border-top-right-radius    : 0.4rem;
    }
  }

  .menu-search__portal-postavshiki {
    display     : flex;
    align-items : center;
    min-width   : 140px;
    //padding     : 0 0.5rem;
  }

  .menu-search__portal-postavshiki-img {
    height : 35px;
    widows : 35px;
    filter : grayscale(100%);
  }

  .menu-search__portal-postavshiki-img:hover {
    filter : grayscale(0%);
  }

  .menu-search__portal-postavshiki-txt {
    display        : inline-flex;
    flex-direction : column;
    margin-left    : 0.5rem;
    line-height    : 1rem;
    align-items    : flex-start;
  }

  .menu-search-basket {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 100%;
    min-width       : 140px;
    padding         : 0 0.5rem;

    &:hover {
      background : $orange-main;
      color      : white;
    }

    .menu-search-basket__left-col, .menu-search-basket__right-col {
      display         : flex;
      flex-direction  : column;
      justify-content : center;
      align-items     : center;
      line-height     : 1rem;
    }

    .menu-search-basket__right-col {
      align-items : flex-start;
      margin-left : 0.2rem;
    }

    .menu-search-basket__number-of-goods {
      color     : $orange-main;
      font-size : 1rem;
    }

    .menu-search-basket__number-of-goods_hover {
      color : white;
    }

    .menu-search-basket__img {
      height          : 29px;
      width           : 27px;
      background      : url("../img/icon_basked.svg") center no-repeat;
      background-size : 100%;
    }

    .menu-search-basket__img_hover {
      background-image : url("../img/icon_basked_white.svg");
    }

  }
}

/*******************************/
/******** menu-ranks *******/
/*******************************/
.menu-ranks {
  background : white;
  position   : relative;

  a {
    text-decoration : none;
    color           : $black-lite;
    font-size       : 1rem;
    align-items     : center;
    padding-left    : 0 !important;
    padding-right   : 0 !important;
  }

  img {
    width  : 60px;
    height : auto;
  }

  .card {
    text-align : center;

    .card-body {
      padding     : 0;
      padding-top : 0.1rem;
    }

    .card-text {
      padding : 0;
    }

  }

}


