@import "colors";

.body {
 background : $gray-light;
}

.button {
 padding       : 0.7rem 1.4rem;
 border-radius : 2.8rem;
 line-height   : 1rem;
 font-weight   : 300;
}

.btn_orange {
 background : $orange-main;
 color      : white;
}