.scroll-out-elem {
  /* position   : fixed;
   top        : 0;
   left       : 0;*/
  width: 100%;
  transition: all 0.3s ease;
  position: relative;
  z-index: -1;
}

.scroll-out-elem__out {
  transform: translateY(-100%);
}
