.sticky-top {
  height: 10px;
}

.menu-main {
  background: #34a853;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
}
.menu-main .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-main .nav:nth-child(2) {
  border-left: 3px solid white;
  border-right: 3px solid white;
}
.menu-main .nav .nav-link {
  padding: 0;
  color: white;
}
@media (max-width: 1100px) {
  .menu-main .nav .nav-link {
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .menu-main .nav {
    display: none;
  }
}
.menu-main .mail:hover {
  background: #5db975;
}
.menu-main .mail .dropdown-menu {
  background: transparent;
}
.menu-main .mail button {
  background: black;
  border: none;
  border-radius: 24px;
  height: 48px;
  padding-left: 26px;
  padding-right: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0 10px 20px #777777;
}
@media (max-width: 768px) {
  .menu-main {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 74px;
    height: 74px;
    border-radius: 100%;
    background: #faad3d;
  }
  .menu-main:after {
    content: url("../img/icon_menu.svg");
    height: 36px;
    width: 36px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.menu-main-list {
  display: none;
}

.show-me {
  display: block;
  position: absolute;
  border: none;
  border-radius: 20px;
  top: 50px;
  left: 88px;
  background: white;
  z-index: 20000;
}
.show-me .nav-link {
  color: #1d1d1d;
  text-decoration: none;
}

.menu-search {
  background: #f3f1f1;
}

.menu-ranks {
  background: white;
}
.menu-ranks a {
  text-decoration: none;
  color: #1d1d1d;
  font-size: 1rem;
}
.menu-ranks .card {
  width: 9%;
  text-align: center;
}
.menu-ranks .card .card-body {
  padding: 0;
  padding-top: 0.1rem;
}
.menu-ranks .card .card-text {
  padding: 0;
}
